@using Microsoft.Identity.Web;
@if (User.Identity.IsAuthenticated)
{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p class="nav-link">Hello @User.GetDisplayName()!</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="navbar-nav flex-grow-1 justify-content-end">
        <li class="nav-item"> <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign In</a></li>
    </ul>
}