@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h3>
            Welcome to this Web APP that calls Microsoft Graph and authenticates users.
        </h3>
        <br />
        <p>
            To enable the users on your tenant to access this application and the web API,
            you need to sign-in as an admin and consent for the required permissions. This makes the this app and the Web API available to all users in the tenant.
        </p>
        <p>
            Please consent:
            <br />
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="AdminConsentApi">Consent api as admin</a>
            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="AdminConsentClient">Consent client as admin</a>
        </p>
        <p>
            <br />
            When consent is given, the "User Info" tab above will work. 
        </p>
    </div>