@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra odio et ante viverra, ut vehicula sem efficitur. Sed vitae neque nec ex aliquet aliquet. Sed vestibulum lorem eu risus commodo lacinia. Nullam sit amet felis ut lorem semper tristique. In non semper libero. Suspendisse potenti.
    <br /><br />

    <h4>Information We Collect</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Proin ac libero vel nulla consectetur gravida nec eu sapien. Aenean sit amet volutpat lorem. Integer vitae nulla non elit scelerisque tristique.
    
    <br /><br />
    <h4>How We Use Your Information</h4>
    Donec nec tellus nec enim tincidunt cursus eget eget lorem. Suspendisse potenti. Duis porttitor in metus a eleifend. Curabitur vel eros vel nulla egestas blandit a in quam. Sed laoreet id arcu id dignissim. Nulla facilisi.
    
    <br /><br />
    <h4>Cookies</h4>
    In hac habitasse platea dictumst. Sed tempor eget justo id iaculis. Integer quis rhoncus ipsum. Sed ac arcu eget nisl pharetra bibendum vel id ligula. Cras vitae felis euismod, efficitur purus id, vehicula libero.
    
    <br /><br />
    <h4>Security</h4>
    Quisque eget lacinia elit, sed suscipit ante. In auctor est a eros efficitur lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
    
    <br /><br />
    <h4>Changes to This Privacy Policy</h4>
    Sed aliquam malesuada quam, in cursus nunc vestibulum ut. Ut vehicula elit sit amet felis malesuada, eu viverra elit tincidunt. Vivamus a congue lorem. Suspendisse potenti. Sed eu elit sit amet libero rhoncus vulputate.
    <br /><br />
</p>
<p>
    <b>Contact Us</b><br />
    Lorem Ipsum Inc.<br />
    123 Ipsum Street<br />
    Loremville, Ipsumland<br />
    Email: info@example.com<br />
    Phone: (123) 456-7890<br />
    <hr/>
</p>
