@{
    ViewData["Title"] = "Invite user";
    string emailAddress = ViewData["EmailAddress"] as string ?? string.Empty;
    string errorMessageFromBackend = ViewData["ErrorToView"] as string ?? string.Empty;
    bool? isInvited = ViewData["IsInvited"] as bool?;
}

<div class="container">
    <h2>Invite user</h2>
    <form method="post" action="/Users/InviteUser">
        <div class="form-group">
            <label for="emailAddress">Email Address:</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Enter email address" value="@emailAddress" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    @if (!isInvited.HasValue)
    {
        <br />
        <div>
            <span>Input needed</span>
        </div>
    }
    else if (isInvited.Value)
    {
        <br />
        <div>
            <i style="color: green;" class="fas fa-check-circle"></i> <!-- Need FontAwesome for icons -->
            <span>Invited</span>
        </div>
    }
    else
    {
        <br />
        <div>
            <i style="color: red;" class="fas fa-solid fa-circle-exclamation"></i> <!-- Need FontAwesome for icons -->
            <span>Not Invited</span>
        </div>
    }
    @if (!string.IsNullOrEmpty(errorMessageFromBackend))
    {
        <br />
        <div class="green-checkmark">
            <i style="color: red;" class="fas fa-solid fa-circle-exclamation"></i>
            <span>Backend error message: @errorMessageFromBackend </span>
        </div>
    }
</div>