@using NOA.Common.Constants
@{
    ViewData["Title"] = "Verify User";
    UserStatus? userStatus = ViewData["UserStatus"] as UserStatus?;
    string emailAddress = ViewData["EmailAddress"] as string ?? string.Empty;
    string errorMessageFromBackend = ViewData["ErrorToView"] as string ?? string.Empty;
}

<div class="container">
    <h2>Verify user</h2>
    <form method="post" action="/Users/VerifyUser">
        <div class="form-group">
            <label for="emailAddress">Email Address:</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Enter email address" value="@emailAddress" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    @if (!userStatus.HasValue)
    {
        <br />
        <div>
            <span>Input needed</span>
        </div>
    }
    else if (userStatus == UserStatus.Missing)
    {
        <br/>
        <div class="green-checkmark">
            <i style="color: red;" class="fas fa-solid fa-circle-exclamation"></i> 
            <span>User Status: Missing</span>
        </div>
    }
    else if (userStatus == UserStatus.Existing)
    {
        <br />
        <div class="green-checkmark">
            <i style="color: green;" class="fas fa-check-circle"></i> 
            <span>User Status: Existing</span>
        </div>
    }
    @if (!string.IsNullOrEmpty(errorMessageFromBackend))
    {
        <br />
        <div class="green-checkmark">
            <i style="color: red;" class="fas fa-solid fa-circle-exclamation"></i> 
            <span>Backend error message: @errorMessageFromBackend </span>
        </div>
    }
</div>